<div class="app-grid">
  <header class="">
    <h1>Quiz App</h1>
  </header>
  <main>
    <article>
      <h3>Questions</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aut excepturi nisi quo velit. Iure voluptatum doloribus eveniet alias quos!</p>
      <button>Show answer</button>
      <section>
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
      </section>
    </article>
  </main>
</div>